<nav>
    <div class="website-title">
        <a href="/"><h1>Website</h1></a>
        <p>My first try</p>
    </div>
    <ul class="head--list">
        <li class="head--list-item"><a href="/">blogs</a></li>
        <li class="head--list-item"><a href="/about">about</a></li>
        <li class="head--list-item"><a href="/blogs/create">new blog</a></li>
    </ul>
</nav>
