<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <main class="content">
        <h3>page not found</h3>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>